@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">COMBUSTIBLE GT</h1>
    <h3>Sistema de despacho combustible</a>.</h3>
    <h6>Desarrollado: Jaime Muñoz</h6>
</div>
